header {
  background-color: #562a81;
  color: white;
  font-size: 18px;
}

body {
  background-color: #f0f0f0;
}

label,
input {
  display: block;
}

img {
  max-height: 350px;
  width: 100%;
  object-fit: cover;
}

input,
textarea {
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

label {
  margin-bottom: 6px;
  font-weight: bold;
}

.right {
  text-align: right;
}

button {
  margin: auto 10px;
  background-color: #562a81;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 10px;
  border: none;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

a {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.new-entry {
  background-color: #562a81;
  padding: 5px 10px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.unhidden {
  display: unset;
}
